<div class="course-list">
    <h2>Courses</h2>
    <button class="btn btn-primary" (click)="openModal()">Add Course</button>
    <ul class="container">
      <li *ngFor="let course of courses">
        <span class="col-md-2">{{ course.courseName }}</span>
        <button class="btn btn-edit" (click)="editCourse(course)">Edit</button>
        <button class="btn btn-delete" (click)="deleteCourse(course.courseId)">Delete</button>
      </li>
    </ul>
    <app-course-modal
      *ngIf="showModal"
      [data]="modalData"
      (save)="saveCourse($event)"
      (close)="showModal = false"
    ></app-course-modal>
  </div>
  